
<div class="movie-card">
<img src="https://image.tmdb.org/t/p/w500{{poster_path}}" data-id="{{id}}" alt="ups">
  <div class="title">
		<p>{{title}}</p>
	<div class="info-item">
		<p>{{genre_ids}} | {{release_date}}</p>
		
	</div>
  </div>
</div>

{{!--adult: false
backdrop_path: "/z8TvnEVRenMSTemxYZwLGqFofgF.jpg"
genre_ids: (3) [28, 14, 12]
id: 458576
original_language: "en"
original_title: "Monster Hunter"
overview: "A portal transports Cpt. Artemis and an elite unit of soldiers to a strange world where powerful monsters rule with deadly ferocity. Faced with relentless danger, the team encounters a mysterious hunter who may be their only hope to find a way home."
popularity: 169.047
poster_path: "/1UCOF11QCw8kcqvce8LKOO6pimh.jpg"
release_date: "2020-12-03"
title: "Monster Hunter"
video: false
vote_average: 6.8
vote_count: 2574--}}
